.container{
    width: 400px;
    height: 400px;
    background-color: red;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title{
    text-align: center;
    font-size: 2cm;
    padding: 5px;
    font-weight: bold;
    background-color: tomato;
    color: blue;
}
.results{
    display: flex;
    justify-content: stretch;
    height: 50px;
    border: 1px solid #ddd;
}
.result{
    flex-grow: 1;
    margin: 5px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: green;
}
.buttons{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}
.button{
    flex-grow: 1;
    margin: 5px;
    text-align: left;
    font-weight: bold;
    font-size: 1.5em;
    width: 30px;
}